@import './style.scss';

.sliders-container {
    width: 40%;
    display: flex;
    aspect-ratio: .9/1;
    position: relative;

    @media (max-width: $xmd) {
        width: 100%;
    }
}

.main-slider {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(20% + 6px);

    @media (max-width: $xsm) {
        left: 0;
        width: 100%;
    }

    &__slide {
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgba($color: gray, $alpha: .5);

        &::after,
        &::after {
            color: white;
            font-size: 16px;
        }

    }

    .swiper-pagination-bullet {
        background-color: gray;
    }
}

.thumb-slider {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: $xsm) {
        display: none;
    }

    &__slide {
        overflow: hidden;
        border-radius: 5px;
        cursor: pointer;
    }

    &__image {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.product-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    font-family: $roboto;
    max-width: 1280px;
    padding: 0 20px;
}

.product-info {
    display: flex;
    align-items: start;
    gap: 54px;
    width: 100%;

    @media (max-width: $xmd) {
        flex-direction: column;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 26px;
        align-items: start;
        width: 60%;

        @media (max-width: $xmd) {
            width: 100%;
        }
    }

    &__title {
        font-size: 32px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;

        @media (max-width: $sm) {
            font-size: 26px;
        }
    }

    &__price-block {
        display: flex;
        align-items: flex-end;
        gap: 15px;
        font-size: 28px;
        font-weight: 500;
        position: relative;

        .name {
            top: -50%;
        }

        @media (max-width: $sm) {
            font-size: 22px;

            .name {
                top: -70%;
            }
        }
    }

    &__sale-price {
        font-size: 1em;
    }

    &__real-price {
        font-size: .8em;
        color: rgba($color: gray, $alpha: .7);
        text-decoration: line-through;
    }

    &__credit-block {
        width: 100%;
        border-radius: 10px;
        background-color: #F5F6FA;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        font-weight: 500;
        transition: .2s;
        cursor: pointer;

        &:hover {
            background-color: #e6e6e9;
        }
    }

    &__credit-arrow {
        rotate: -90deg;
        scale: .9;
        filter: invert(50%);
    }

    &__credit-item {

        &_yellow {
            border-radius: 10px;
            background-color: #FFFF00;
            padding: 8px;
        }
    }

    &__buttons {
        display: flex;
        gap: 8px;
        width: 100%;

        @media (max-width: $xmd) {
            flex-direction: column;
        }
    }

    &__button {
        width: 50%;
        height: 100%;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        height: 40px;
        transition: .2s;

        @media (max-width: $xmd) {
            width: 100%;
        }

        &_cart {
            background: $main-purple;
            color: white;
        }

        &_fav {
            color: $main-purple;
            border: 1px solid $main-purple;
        }
    }

    &__color {
        height: 72px;
        display: flex;
        gap: 10px;
        width: 100%;
        position: relative;

        .name {
            top: -25%;
        }
    }

    &__color-item {
        height: 100%;
        width: 56px;
        padding: 2px;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        transition: .5s;
        cursor: pointer;

        &:hover {
            border: 2px solid #c4c4c4;
        }
    }

    &__color-card {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 2px gray;
    }
}

.product-counter {
    position: relative;
    border-radius: 3px;
    border: 1px solid #ACACAC;
    padding: 10px 15px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    gap: 10px;

    .name {
        top: -45%;
    }

    &__minus {
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
    }

    &__num {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    &__plus {
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
    }

    &__maximum {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        right: -150%;
        font-size: 14px;
        color: $main-purple;
    }
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 793px;
    gap: 20px;

    &__heading {
        font-size: 21px;
        font-weight: 500;
    }

    &__text {
        line-height: 22px;
    }
}

hr {
    background-color: #c4c4c4;
    height: 1px;
    width: 100%;
}

.name {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    left: 0;
}

.same-products-slider {
    margin: 100px auto;
    width: 1280px;
    padding: 0 20px;

    @media (max-width: $lg) {
        max-width: 100vw;
    }

    &__title {
        font-size: 28px;
        font-weight: 500;
        font-family: $inter;
        margin-bottom: 20px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-color: white;
        box-shadow: 0 0 3px gray;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        z-index: 10;

        &::after {
            font-size: 20px;
            color: black;
        }
    }
}

.not-available-plus {
    .product-counter__plus {
        filter: invert(50%);
    }
}

.not-available-minus {
    .product-counter__minus {
        filter: invert(50%);
    }
}

.in-the-cart {
    color: #AAADB6;
    background-color: #F5F6F7;
    filter: invert(0%);
}

.favorite-btn_active{
    border-color: gray;
    color: gray;
    background-color: rgba($color: gray, $alpha: .5);
}